<!Doctype html>
<link rel="stylesheet" type="text/css" href="../static/style.css">
<link rel="javascript" type="javascript" href="js.js">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body onload="function edit()">
	<div class="top-right">
		<a href="profile.html">home</a>
		<a href="questions.html">back</a>
	</div>
        <div id="myModal" class="modal">
                <div class="modal-content">
                  <span class="close">&times;</span>
                  <h5 class="modalTxt" id = "myAnswer"></h5><p class="modalTxt" id ="one"></p>
                  <div id="edit"></div>
                </div>
			</div>
	<script src="../static/modify.js"></script>
</body>
</html>