<!Doctype html>
<link rel="stylesheet" type="text/css" href="../static/style.css">
<link rel="javascript" type="javascript" href="js.js">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body onload="postAnswer()">
	<div class="top-right">
		<a href="profile.html">home</a>
		<a href="answered.html">back</a>
	</div>
	<form method ='POST' action="" id = "postans">
			<h3 id="answers" name="answe"> answer the question</h3>
			<textarea cols="200" rows="150" position="fixed" id="textarea" placeholder="type your answer here"></textarea>
			<input type="submit" value="post answer" id='pbtn' ><br><br><hr>
			<p id="answers"></p>
	</form>
	
	<script src="../static/postanswer.js"></script>
</body>
</html>