<!Doctype html>
<link rel="stylesheet" type="text/css" href="../static/style.css">
<link rel="javascript" type="javascript" href="js.js">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
	<div class="top-right">
		<a href="profile.html" id="home">home</a>
		<a href="profile.html" id="home">back</a>
	</div>
	<div class="profile" id="prof">
		<input type="submit" value="my questions" class="signupbtn" id='btn1' onclick="window.location.href='myquestions.html'" ><br><hr>
		<input type="submit" value="most recent questions" class="signupbtn" id='btn1'  onclick="window.location.href='mostrecent.html'"><br><hr>
		<input type="submit" value="all questions" class="signupbtn" id='btn5' onclick="window.location.href='allquestions.html'">
	</div>
	 <section class="app_section">        
        <div class="big_container" id="bg_container">
            <div class="page_title" id="pg_title">
                              
            </div> 
            <div id="search_bar">
            </div>
            <div class="questions_home" id="questions_home_id">                     
            </div>           
        </div> 
    </section>
</body>
</html>