body{
   /* background-image: url(images/query5.jpg);*/
    background-blend-mode: transparent;
    /*background-repeat:repeat-x;*/
    height:600px;
    background-size: cover;
    background-color: tan;
    *box-sizing: border-box;
    margin-left:auto;
    margin-right:auto;
    overflow-x: hidden;
    overflow-wrap: hidden;
    
  }
  .account{
	background-color:Gainsboro;
    padding: 100px;    
    margin:auto;
    width:30%;
    margin-top: 200px;
 }
 #btn1{
    /*margin:auto;*/
    width:100%;
    height:50px;
    font-family:sans-serif; 
    font-style:normal;
    color:Azure;
    font-size:1.9vw;
    text-decoration-color: cornsilk;
    text-overflow:wrap;
    background-color:grey;
}
#btn2{
    width:60%;
    height:50px;
    font-family:sans-serif; 
    font-style:normal;
    color:Azure;
    font-size: 1.9vw;
    text-decoration-color:Azure;
    margin-left: 60px;
}
#btn5{
    width:100%;
    height:50px;
    font-family:sans-serif; 
    font-style:normal;
    color:Azure;
    font-size: 1.9vw;
    text-decoration-color:Azure;
}
#qbtn{
    width:60%;
    height:50px;
    font-family:sans-serif; 
    font-style:normal;
    color:Azure;
    font-size: 1.5vw;
    text-decoration-color:Azure;
    margin-left: 0px;
    margin-top: 10%;
}
input{
    margin:auto;
    width:100%;
    padding: 12px;
    border: 1px solid wheat;
    border-radius: 4px;
    resize: vertical;
    background-color:grey;
    
}
.control-label
{
   
    width: 100%;
    font-size: 17px;
}

 #title{
    margin-left:10%;
    font-size: 25px;
    color: midnightblue;

 }
 .centred{
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vw;
    color:DimGrey;
    font-family: Trebuchet-Ms;
    font-style: oblique;
    text-shadow: 3px 1px Azure; 
    }
#heading{
    font-size: 5vw;
    color:MidnightBlue;
    font-family: Trebuchet-Ms;
    font-style:normal;
    text-shadow: 3px 1px Azure; 
    

}
#post{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vw;
    margin-top:8%;

}
#answer{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vw;

}
#stck{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vw;

}
.top-right {
    margin-top: 100px;
    margin-right: 50px;
    position: absolute;
    top: 8px;
    right: 16px;
}
a{
    color:MidnightBlue;
     font-size: 15px;
}
h3{
    margin-top: 2px;
    margin-left:37px;
}
h5{
    color:DimGrey;
}
hr{
    margin-left:0%;
}
.or{
    position:absolute;
}
#linkaccount{
    margin-left: 30%;
}
.profile{
    background-color:Gainsboro;
    padding: 20px;    
    margin:auto;
    width:30%;
    margin-top: 150px;
}
#textarea{
    width:70%;
    position: fixed;
    resize: none;
    height: 100px;
}
.allquestions{
    background-color:lightgrey;
    padding: 100px;    
    margin:auto;
    width:70%;
    margin-top:10%;
    border: 2px solid midnightblue;
    border-radius: 50px;
}
#allquestions{
    font-size: 15px;
}
#myquery{
    margin:auto;
    width:70%;
    padding: 12px;
    border: 1px solid wheat;
    border-radius: 4px;
    resize: vertical;
    background-color:white;
    margin-left:40px;
    font-size: 2vw;
}
#quest{
    font-size: 17px;
}
#myprof{
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vw;

}
#prof{
    width: 60%;
    height: 50%;
    position: fixed;
    margin-left:180px;
}
.clearfix{
    width:auto;
    background-color:Darkgrey;
    margin-left:12%;
}
.top-nav {
    background-color:black;
    overflow: hidden;
    width:90%;
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.top-nav a {
    float:right;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.top-nav a:hover {
    background-color: #ddd;
    color:MidnightBlue;
}
.top-nav a.active {
    background-color:grey;
    color: white;
}
#loglink{
     margin-left: 50%;
}
.side-nav {
    margin-left: 10px;
    margin-top:0.6%; 
    background-color:Darkgrey;
    width:15%;
    position:fixed;
    height:70%;
    padding:10px;
}
.side-nav a {
    display:block;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.side-nav a:hover {
    background-color: #ddd;
    color:MidnightBlue;
}
#myquestion{
    display:inline;
    float:left;
    padding-left: 5px;
}
p{
    display:inline;
    color: black;
}
#qs1
{
    margin-left: 10px;
}
#qs2
{
    margin-left: 19px;
}
.all
{
    display: block;
    color: blue;
}
#qtitle{
    margin:auto;
    width:50%;
    padding: 12px;
    border: 1px solid wheat;
    border-radius: 4px;
    resize: vertical;
    background-color:white;

}
#postq{
    position: fixed;
    left: 56%;
    transform: translate(-50%, -50%);
    font-size: 3vw;
    margin-top:10%;
    width: 70%;

}
.all{
    background-color:white;
    width: 90%;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 5px lightgrey;
    padding: 25px yellow;  
    border-radius: 5px;
    border-color: midnightblue;
    cursor: pointer;
}
qlist.hover{
    background-color: yellow;
}
#par{
    font-size: 18px;
}
#qlist{
    width:90%;
    background-color:transparent;
    border: 2px solid transparent;
    border-radius: 25px;
}
#err{
    font-size: 15px;
    font-style: italic;
    color: red;
}
#aq{
    color: midnightblue;
}
#queslist{
    margin-top: 30px;
    margin-left: auto;
}
#answered{
    margin-top:10%;
    margin-left:15%; 
    width: 70%;
}
#abtn{
    width: 30%;
    margin-top: 5%;
    margin-left: 15%;
}
#postans{
    margin-top: 8%;
    margin-left: 10%;
    position: fixed;
    
}
#question{
    font-size: 18px;
    color:darkred;
}
#pbtn{
    width: 20%;
    margin-top: 10%;
    position:fixed;
}
#postquery{
    margin-top:5%;
}
#answers{
    margin-left: 0px;
    color:midnightblue;
}
#dltBTn{
    width: 40%;
}
#succesful{
    color: red;
}
